* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw; 
}

.panel {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    flex: 0.5;
    height: 80vh; 
    margin: 10px;
    color: white;
    position: relative; 
    
}

.panel.active {
    flex: 5;
    color: white;
    font-size: 20px;
}

.panel h3 {
    font-size: 40px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }
}

.panel {
    background-image: url('https://pbs.twimg.com/media/FJ-KtVzVUAYAJ2R?format=jpg&name=large');
}

